doctype html
head
	title CrewLink Server
	link(rel="icon", href="https://cdn.discordapp.com/icons/743454503633813514/a_f687490fd89a5a258f5a840513d6f33f.png?size=32", type="image/x-icon")
	meta(property='og:title' content='CrewLink Server')
	meta(property='og:description' content='EU Voice server for Among Us proximity chat')
	meta(property='og:image' content='https://github.com/ottomated/CrewLink/raw/master/logo.png')
	style.
		body {
		background-color: #23272a;
		color: white;
		font-family: sans-serif;
		text-align: center;
		}
		img {
		height: 128px;
		width: 128px;
		margin: 32px auto;
		display: block;
		}
		a {
			text-decoration: none;
			color: #3498db
		}
		a:hover {
			text-decoration: underline;
		}

img(src="https://github.com/ottomated/CrewLink/raw/master/logo.png")
h1 [EU] CrewLink Server

p Not affiliated but used on  
a(href="http://discord.gg/amongusgermany", target="_blank")  Among Us Germany 
| Discord server.
img(src="https://cdn.discordapp.com/icons/743454503633813514/a_f687490fd89a5a258f5a840513d6f33f.png")

p This is a CrewLink Server running on #{address}.
p There #{connectionCount === 1 ? 'is' : 'are'} currently #{connectionCount} connected user#{connectionCount === 1 ? '' : 's'}.
